version: '3.8'

services:
  app:
      build: .
      depends_on:
        - db
      ports:
        - "8080:8080"
      environment:
        DB_URL: jdbc:postgresql://db:5432/mydb
        DB_USER: postgres
        DB_PASSWORD: password
      
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb